<div>
    <header class="mt-10">
        <div class="flex justify-between">
            <div class="flex items-center">
                <h2 class="text-4xl font-semibold font mr-4">RailsPerso</h2>
                <img class="w-20 h-auto ml-4" src="https://www.svgrepo.com/show/376345/rails.svg" alt="rails logo" />
            </div>
            <div class="flex items-center text-2xl font text-[#832020]">
                <p class="mr-20 hover:text-red-500 duration-500 cursor-pointer">Home</<p>
                <p class="mr-20 hover:text-red-500 duration-500 cursor-pointer">Mail</<p>
                <p class="mr-20 hover:text-red-500 duration-500 cursor-pointer">CRUD test</<p>
                <p class="bg-[#832020] hover:bg-red-500 duration-500 cursor-pointer text-white font-bold py-2 px-4 rounded">Login</<p>
            </div>
        </div>
    </header>
    <div class="flex justify-between items-center mt-40">
        <div>
            <p class="text-8xl">Welcome to my sandbox !</p>
            <div class="mt-24 w-1/2">
                <p>This website is a playground for the sake of training my skill in RubyOnRails ( and english too... ). You can try out all the features I've coded to get an idea of my profile as a developer. </p>
            </div>
        </div>
        <div>
            <img class="w-full" src="https://assets-global.website-files.com/5d9bc5d562ffc2869b470941/5e20a1895ad86c8f871e3f90_icon-ruby-tech.png" alt="ruby logo" />
        </div>
    </div>
    <div class="mt-40">
        <footer>
            <div class="text-6xl flex justify-around">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
        </footer>
    </div>
</div>