<div class="mt-20">
    <div class="flex justify-around">
        <div class="bg-red-700 text-white py-5 px-10 mx-10 flex items-center gap-20">
            <div>
                <p class="text-xl">Total products</p>
                <br />
                <p class="text-xl">100</p>
            </div>
            <i class="fa-solid fa-box text-8xl text-[#ffffff] opacity-40"></i>
        </div>
        <div class="bg-red-800 text-white py-5 px-10 mx-10 flex items-center gap-20">
            <div>
                <p class="text-xl">Total users</p>
                <br />
                <p class="text-xl">100</p>
            </div>
            <i class="fa-solid fa-user text-8xl text-[#ffffff] opacity-40"></i>
        </div>
        <div class="bg-red-400 text-white py-5 px-10 mx-10 flex items-center gap-20">
            <div>
                <p class="text-xl">Contact mail</p>
                <br />
                <p class="text-xl">100</p>
            </div>
            <i class="fa-solid fa-envelope text-8xl text-[#ffffff] opacity-40"></i>
        </div>
        <div class="bg-red-500 text-white py-5 px-10 mx-10 flex items-center gap-20">
            <div>
                <p class="text-xl">Repo view</p>
                <br />
                <p class="text-xl">100</p>
            </div>
            <i class="fa-brands fa-github text-8xl text-[#ffffff] opacity-40"></i>
        </div>
    </div>
    <br />
    <br />
    <div class="flex justify-end gap-2">
        <button class="bg-green-600 text-white p-3 rounded-lg">Add new element</button>
        <button class="bg-orange-600 text-white p-3 rounded-lg">Modify element</button>
        <button class="bg-red-600 text-white p-3 rounded-lg">Delete element</button>
        <input type="text" placeholder="Search..." class="rounded-lg" />
    </div>
    <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <table class="min-w-full text-center text-sm font-light">
                        <thead class="border-b bg-red-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="px-6 py-4">Name</th>
                                <th scope="col" class="px-6 py-4">Number of</th>
                                <th scope="col" class="px-6 py-4">Date of creation</th>
                                <th scope="col" class="px-6 py-4">Create by</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                            <tr class="border-b bg-white dark:border-neutral-500">
                                <td class="whitespace-nowrap"><input type="checkbox"></td>
                                <td class="whitespace-nowrap px-6 py-4 font-medium">Yop</td>
                                <td class="whitespace-nowrap px-6 py-4">Mark</td>
                                <td class="whitespace-nowrap px-6 py-4">Otto</td>
                                <td class="whitespace-nowrap px-6 py-4">@mdo</td>
                            </tr>
                        </tbody>
                        <tfoot class="border-b bg-red-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                            <tr>
                                <td class="px-6 py-4"></td>
                                <td class="px-6 py-4"></td>
                                <td class="px-6 py-4"></td>
                                <td class="px-6 py-4"></td>
                                <td class="px-6 py-4"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>