<html>
    <head>
        <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Mail de la part de <%= @nom %></h1>
        <h2>Adresse email : <%= @email %></h2>
        <p>
            <%= @message %>
        </p>
    </body>
</html>